PUBLIC_WS_URL=ws://localhost:5066/ws
PUBLIC_API_URL=http://localhost:5066
# Use these for the hosted dev backend:
# PUBLIC_WS_URL=wss://openidle-backend-dev.engbjerg.com/ws
# PUBLIC_API_URL=https://openidle-backend-dev.engbjerg.com
